// color
$color-img-pink-light: #d66d75;
$color-img-pink-white: #e29587;
$color-white: #fff;
$color-pink-light: #fd5b68;
$color-pink-white: #f18b79;
$color-text-white: #f7f7f769;
$color-black: black;
$color-white-high: #ffffff;
$color-black-dark: #999;
// grid
// font
// shadow
// border radios
