.container {
  background-color: $color-white;
  width: 70%;
  box-shadow: 0 2rem 3rem rgba($color-black, 0.2);

  display: grid;
  grid-template-rows: 10rem 1fr;
  padding: 1rem 2rem;
  border-radius: 4px;

  @include res(phone) {
    width: 90%;
  }
}

.navbar {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #b2bec3;

  @include res(phone) {
    justify-content: space-between;
  }
  &__link {
    color: $color-img-pink-light;
    text-decoration: none;
    font-size: 3rem;
    margin: 0 2rem;
    padding: 1rem 0;
    font-family: font-header;
    position: relative;
    transition: all 0.2s;
    &:hover {
      color: $color-pink-light;
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 0;
      background-color: $color-pink-light;
      transition: all 0.2s;
    }
  }
}
// \\
.main {
  padding-top: 1rem;
  grid-row: 2 / -1;
  min-height: 75rem;
}

//
.section-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-auto-rows: 35rem;
  background-color: $color-text-white;
  grid-gap: 2rem;

  @include res(tab-small) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 35rem;
  }

  &__container {
    box-shadow: 0 0.5rem 0.6rem rgba($color-black, 0.15);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;

    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0.5rem 0.8rem rgba($color-black, 0.2);
      transform: translateY(-3px);
      z-index: 10;
    }
    img {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }

    p {
      margin-right: 1rem;
      font-size: 1.5rem;
      font-family: font-text;
    }
    h2 {
      margin-right: 1rem;
      padding: 1rem 0;
      font-size: 2rem;
      font-family: font-header;
    }
  }
}

//
.section-2 {
  grid-row: 2 / 3;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  @include res(phone) {
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 4rem;
    font-family: font-header;
    @include res(phone) {
      font-size: 3rem;
    }
  }

  .text {
    font-size: 3rem;
    text-align: center;
    font-family: font-text;
    margin-top: 4rem;
    @include res(phone) {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
  .copy-right {
    margin-top: auto;
    font-size: 2rem;
    font-family: font-text;
    @include res(phone) {
      font-size: 1.5rem;
    }
  }
}
